@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background: lightblue;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background: lighten($primaryBtn, 20%);
        }
    }
}