$primaryBtn : rgb(65, 173, 173);
$textColor : black;
$titleSize: 12vh;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap');
